@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.text-black {
  color: #000 !important;
}

/* login page */
.login-page_wrapper {
  background: #fff;
  height: 100vh;
}
.login-page_wrapper .carousel img {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
  /* border-radius: 0px 0px 100px 100px; */
  filter: brightness(0.95);
}
.login-content_wrapper {
  max-width: 452px;
}
.login_page_input-group {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  color: #adadad;
}
.login_page_carousel-text {
  color: #e1e1e1;
}
.login-item-text {
  width: 650px;
  color: #8a8a8a;
  font-weight: 400;
  line-height: 192.761%; /* 28.914px */
}
@media (min-width: 992px) {
  .login-page_wrapper .carousel img {
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 100px 100px 0px;
  }
}
.login-button,
.login-button:hover {
  border-radius: 4.264px;
  background: #f78d1e;
  color: #fff;
  width: 100%;
  font-weight: 600;
  height: 52.237px;
}
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.login-page_wrapper hr {
  border-top: 1px solid #e4e4e4;
  opacity: 1;
}

/* login verify page */

.otp-inputs input {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background: #fff;
  box-shadow: 0px 0px 17px 0px #f3f3f3;
  width: 58px;
  height: 58px;
  flex-shrink: 0;
  text-align: center;
  color: #4b4a4a;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  margin-right: 10px;
}
.resend-otp-text,#resendLinkContainer .text-warning{
  color: #f78d1e;
  font-weight: 600;
}

/* admin dashboard */
/* .dashboard-cards {
  border-radius: 10px;
  border: 1px solid #ececec;
  background: #f1f2f6;
  padding: 20px;
} */
.dashboard-cards .icon {
  width: 42.251px;
  height: 42.251px;
  border-radius: 10.406px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-cards .card h6 {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dashboard-cards .card select {
  border-radius: 3.604px;
  background: #f1f2f6;
  border: none;
  outline: none;
  color: #212121;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  right: 10px;
  top: 10px;
}
.dashboard-cards .card h3 {
  color: #313131;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
}

.dashboard-cards .icon-1--bg {
  background-color: #ffebe0;
}
.dashboard-cards .icon-2--bg {
  background-color: #e4ebfe;
}
.dashboard-cards .icon-3--bg {
  background-color: #d9f3fc;
}
.dashboard-cards .icon-4--bg {
  background-color: #e1f8f0;
}
.dashboard-cards .icon-5--bg {
  background-color: #f0f5e7;
}

table.dataTable.no-footer {
  padding: 20px 0;
  border-bottom: none !important;
}

.custom-dropdown .dropdown-toggle::after {
  display: inline-block;
  margin-left: unset;
  vertical-align: unset;
  content: "";
  border-top: none;
  border-right: none;
  border-bottom: 0;
  border-left: none;
}
.custom-dropdown button,
.custom-dropdown button:hover {
  background-color: transparent !important;
  border: 1px solid #cecece;
  padding: 5px 10px;
}

.custom-orange-link {
  color: #f78d1e !important;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.custom-orange-link svg {
  fill: #f78d1e !important;
}

.text-orange {
  color: #f78d1e !important;
}
.btn-orange,
.btn-orange:hover {
  background-color: #f78d1e !important;
  color: #fff !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 13px */
  height: 36px;
}
.btn-orange svg {
  fill: #fff !important;
}
.table td p {
  color: #000;
}

.custom-modal .modal-header {
  border-radius: 12px 12px 0px 0px;
  background: #f1f2f6;
}

.custom-modal .modal-footer {
  justify-content: flex-start !important;
}

.custom-modal label {
  color: #2d2d2d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
}

.custom-modal label span {
  color: #f00;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.custom-modal input,
.custom-modal select {
  border-radius: 5px;
  border: 1px solid #ddd !important;
  background: #f1f2f6 !important;
  color: #2d2d2d;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 13px */
  height: 50px;
}

/* pending approvals page */

.pending-approval_card {
  color: #313131;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4px;
  border: 1px solid #ececec;
}
.pending-approval_card-count {
  background: #f2decb;
  color: #f78d1e;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 63px;
  height: 63px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pending-approval_card-text {
  color: #313131;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pending-approval_bottom-card {
  min-height: 500px;
  border-radius: 4px;
  border: 1px solid #ececec;
}

.analytics-page-card {
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 0px 22px 0px rgba(201, 201, 201, 0.25);
}

.analytics-page-card ul li {
  color: #2d2d2d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 265.5%; /* 37.17px */
}
.analytics-page-card_text {
  color: #7a7a7a;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 13px */
}

.custom-select-box {
  width: 200px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 5.831px;
  border: 1px solid #ececec;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  margin-right: 10px;
}

.custom-light-text {
  color: #8d8d8d !important;
}

.text-red {
  color: #f00 !important;
}

/* new trips page */

.trip-type_card {
  border-radius: 5px;
  border: 1px solid #ececec;
  background: #fff;
}

.trip-type_radio-input-group {
  border-radius: 18px;
  border: 1px solid #ececec;
  width: fit-content;
  padding: 10px;
  gap: 10px;
}
.trip-type_radio-input-group > div:not(:first-child) {
  border-left: 1px solid #ececec;
  padding-left: 10px; /* Adjust the padding as needed */
}

/* Style for unchecked state */
.trip-type_radio-input-group input[type="radio"] + label {
  color: #c2c2c2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}

/* Style for checked state */
.trip-type_radio-input-group input[type="radio"]:checked + label {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
}
.new-trip_checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.custom-checkbox {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.custom-text-area {
  border-radius: 5px;
  border: 1px solid #ececec;
  background: #fff;
  min-width: 100%;
  width: 100%;
  height: 76px;
  flex-shrink: 0;
  padding: 10px;
}

.other-travellers-drop-down {
  max-width: 180px;
}

.action-required-input {
  width: 123px;
  height: 48px;
  flex-shrink: 0;
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  text-align: center;
}
.new-trips-table th {
  min-width: 150px;
}

.new-trips-table input,
.new-trips-table select {
  border-radius: 5px;
  border: 1px solid #ececec;
  background: #fff;
  width: 134px;
  height: 40px;
  flex-shrink: 0;
  color: #949494;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 184.615% */
  padding: 10px;
}

.new-trips-table thead {
  border-radius: 4px 4px 0px 0px;
  border-bottom: 1px solid #ececec;
  background: #f1f2f6;
}
.new-trips-table th {
  padding: 15px;
}
.new-trips-table td {
  padding: 15px;
}

.trips_inner-card {
  border-radius: 5px;
  border-bottom: 1px solid #ececec;
  background: #f1f2f6;
  text-align: center;
  padding: 20px 8px;
}
.text-blue {
  color: #408dfb !important;
}

.rejected,
.pending {
  border-radius: 3.429px;
  background: #fbedef;
  color: #d9716d;
  text-align: center;
  font-family: Poppins;
  font-size: 10.286px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 10.286px */
  letter-spacing: 0.566px;
  text-transform: uppercase;
}

.approved {
  color: #6cb08a;
  text-align: center;
  font-family: Poppins;
  font-size: 10.286px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 10.286px */
  letter-spacing: 0.566px;
  text-transform: uppercase;
  border-radius: 3.429px;
  background: #e1f8f0;
}

.recalled {
  color: #676767;
  text-align: center;
  font-family: Poppins;
  font-size: 10.286px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 10.286px */
  letter-spacing: 0.566px;
  text-transform: uppercase;
  border-radius: 3.429px;
  background: #dfdfdf;
}

.awaiting-approval {
  color: #f78d1e;
  text-align: center;
  font-family: Poppins;
  font-size: 10.286px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 10.286px */
  letter-spacing: 0.566px;
  text-transform: uppercase;
  border-radius: 3.429px;
  background: #fef4e8;
}

.custom-outline-btn {
  border-radius: 6px !important;
  border: 1px solid #e3e3e3 !important;
  background: #fff !important;
  color: #898989 !important;
  padding: 8px 20px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px;
  margin-left: 0;
}

/* settings page */
.settings-page-item-label {
  width: 120px;
}
.settings-page-item-text::before {
  content: "-";
}
.orange-light-bg-btn {
  border-radius: 4px;
  background: rgba(247, 141, 30, 0.1) !important;
  color: #f78d1e !important;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
}

.custom-white-btn {
  border-radius: 4px;
  border: 1px solid #ddd !important;
  background: #fff !important;
  box-shadow: 0px 0px 11px 0px rgba(171, 171, 171, 0.25);
  color: #212121 !important;
  height: 36px;
}

.gray-bg {
  background: #f1f2f6;
}
.custom-border-top {
  border-top: 1px solid #d9d9d9;
}

.forward-email-card_wrapper {
  background-color: #f8f9ff;
  padding: 10px;
}
.forward-email-card_wrapper svg {
  fill: #408dfb;
}
.auto-scan-card ul li {
  margin-bottom: 10px;
  color: #000;
}

.add-expenses_wrapper {
  max-width: 420px;
}

.add-expenses_wrapper input {
  height: 48px;
  border-radius: 5px;
  border: 1px solid #ececec;
  background: #fff;
  width: 100%;
  padding: 10px;
}
.add-expenses_wrapper select {
  height: 48px;
  border-radius: 5px;
  border: 1px solid #ececec;
  background: #fff;
  padding: 10px;
}
.add-expenses_wrapper textarea {
  height: 73px;
  border-radius: 5px;
  border: 1px solid #ececec;
  background: #fff;
  width: 100%;
  padding: 10px;
}
.add-expenses_wrapper .trip-type_radio-input-group input {
  height: unset;
}

.file-upload-label {
  border-radius: 5px;
  border: 2px dashed #e1e1e1;
  background: #fff;
  color: #9d9d9d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
}

.pending-advance-page_items_wrapper {
  max-height: 70vh;
  overflow: auto;
}
.pending-advance-page_items_wrapper .card {
  border-radius: 4px;
  border: 1px solid #f1f2f6;
  background: #fff;
}
.pending-advance-page_items_wrapper button.btn {
  border-radius: 6px;
  border: 1px solid #f78d1e;
  background: #fff;
}


.trip-booking input{
    border-radius: 6px;
border: 1px solid #E4E4E4;
background: #F1F2F6;
color: #AAA;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 12px */
height: 38px;

}
.trip-booking select{
    border-radius: 6px;
border: 1px solid #E4E4E4;
background: #F1F2F6;
color: #AAA;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 12px */
height: 38px;

}


.trip-booking .nav-tabs{
    border-radius: 4px;
    background: #F1F2F6;
    border: none;
    height: 58px;
}

.trip-booking .nav-tabs .nav-item.show .nav-link, .trip-booking .nav-tabs .nav-link.active{
    background-color: transparent;
    border: none;
    color: #F78D1E;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-bottom: 3px solid #F78D1E;
}

.trip-booking .nav-tabs .nav-item.show .nav-link, .trip-booking .nav-tabs .nav-link.active svg{
fill:  #F78D1E;
}

.trip-booking .nav-tabs .nav-link{
    border: none;
    color: #2D2D2D;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 16px */
}

.submitted-trip-item{
    border-radius: 4px;
    border: 1px solid #a09898;
}

.custom-border-left{
    border-left: 1px solid #D9D9D9;
    padding-left: 10px;
}


.pending-trips-card-badge{
    position: absolute;
    top: -10px;
    left: 30px;
    border-radius: 4px;
    background: #FBFAE1;
    padding: 0px 5px;
}


.approver-name{
  background: #F1F2F6;
  padding: 4px 10px;
  color: #2D2D2D;
}

.attach-file-label{
  border-radius: 6px;
background: #F1F2F6;
color: #F78D1E;
font-weight: 500;
padding: 8px 15px;
cursor: pointer;
}


.date-range_wrapper{
  border-radius: 20.5px;
  background: #F1F2F6;
}
.date-range_wrapper input{
  border: none;
  padding: 5px 10px;
  border: 1px solid #DEDEDE;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #FFF;
  width: 220px;
}
.date-range_wrapper label{
  border-radius: 20.5px 0px 0px 20.5px;
border: 1px solid #DEDEDE;
background: #F1F2F6;
padding: 5px 10px;
border-right: none;

}
.country-select-box{
  border-radius: 20.5px;
  border: 1px solid #DEDEDE;
  padding: 5px;
  min-width: 160px;
}

.add-file-icon{
  border-radius: 4px;
  border: 1px dashed #CECECE;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
}

.bulk-add-expenses-table td{
  margin: 0 10px;
}

.table > :not(caption) > * > *{
  padding:10px;
}

.bulk-add-expenses-table select{
  border: none;
  max-width: 120px;
}
.bulk-add-expenses-table input{
  border: none;
  max-width: fit-content;
}
.bulk-add-expenses-table input[type="number"]{
  border: 1px solid #ECECEC;
  max-width: 100px;
}

.bulk-add-expenses-table thead{
  border: 1px solid #ECECEC;
background: #F1F2F6;
}

.draft{
  border-radius: 4px;
background: #EBEBEB;
color: #676767;
font-weight: 500;
letter-spacing: 1.105px;
text-transform: uppercase;
}


.btn-outline{
  border: 1px solid #CECECE !important;
  border-radius: 4px !important;
  background-color: transparent !important;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #b7b5b5; 
}



.badge.unsubmitted{
  background: #6868681A;
  color: #676767;
}

table input[type="checkbox"]{
  border: 1px solid #CECECE;
  width: 23px;
  height: 23px;
  border-radius: 4px;
  accent-color: #f78d1e;
}


table th,table td,table h6{
  color: #9C9C9C;
}

.filter-card_wrapper{
  background: #ECECEC; padding: 10px 20px;
}

.filter-card_wrapper .select_box{
  display: flex;
    gap: 5px;
    border: 1px solid #DEDEDE;
    border-radius: 20px;
    background: #F1F2F6;
}

.filter-card_wrapper select{
  height: 100%;
  width: 200px;
  border-radius: 0px 20px 20px 0px;
  border: none;
  outline: none;
}

.filter-card_wrapper label{
  border-radius: 20.5px 0px 0px 20.5px;
  border-right: 1px solid #DEDEDE;
  background: #F1F2F6;
  padding: 5px 10px;
  border-right: none;
}
.filter-card_wrapper .filter-icon{
  background: #3D3D3D;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-warning{
background-color: #F78D1E !important;
}

.awaiting-approval{
    text-transform: uppercase;
    background: #F78D1E1A;
    color: #F78D1E;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




.custom-tabs.nav-tabs {
  border-radius: 4px;
  background: #F1F2F6;
  border: none;
  height: 58px;
  margin-bottom: 25px;
}

.custom-tabs.nav-tabs .nav-link.active {
  background-color: transparent;
  border: none;
  color: #F78D1E;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 3px solid #F78D1E;
}

.custom-tabs.nav-tabs .nav-link {
  border: none;
  color: #2D2D2D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.badge.custom-badge{
  background-color: #EBEBEB !important;
  color: #676767 !important;
  border-radius: 50%;

}


.custom-tabs.nav-tabs .nav-link.active .badge.custom-badge{
  background-color: rgba(247, 141, 30, 0.20) !important;
  color: #F78D1E !important;

  border-radius: 50%;

}

.apply-advance-btn{
  background-color: rgba(247, 141, 30, 0.20) !important;
  color: #F78D1E !important;
  font-weight: 500;

}

.outline-badge{
  border-radius: 13px;
border: 1px solid #ECECEC;
width: fit-content;
color: #2D2D2D;
font-size: 10px;

}

.outline-badge .inner-badge{
  color: #AAA;
  background: #F1F2F6;
  border-radius: 50%;
  padding: 5px;
  margin-right: 2px;
  font-size: 10px;
}

.offcanvas.offcanvas-end{
  background: #F1F2F6;
}



#custom-tab button{
  border: 1px solid #ECECEC;
  background: #fff;
  padding: 20px;
  color: #000;
}

#custom-tab button.active{
  background: #FBFBFB;
}

.all-advaces-item-details-card_wrapper{
  border-radius: 5px;
border: 1px solid #E1E1E1;
background: #FFF;
}
.all-advaces-item-details-card_price-block{
  border-radius: 5px;
    border: 1px solid #E1E1E1;
    background: #F1F2F6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-all__link{
  color: #F78D1E;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}
.h-80vh{
  height: 80vh;
}
.dashboard-page_grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr 1fr;
  height: 100%;
  gap: 10px;
}
.recent_trips-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
  height: 100%;
  gap: 10px;

}

.tms-table thead{
  border-radius: 8px 8px 0px 0px;
  background: #F1F2F6;
  position: sticky;
  top: 0;
  text-transform: uppercase;
}
.tms-table th,.tms-table td{
  color: #2D2D2D;
}
.btn-icon{
  border: 0.9px solid #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 8px;
}
.tms-sidebar_grid{
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  min-height: 100vh;
  gap: 30px;
}
@media (min-width:992px) {
  .tms-sidebar_grid{
    display: grid;
    grid-template-columns: 1fr 260px;
    height: 100%;
    min-height: 100vh;
    gap: 30px;
  }
}
/* .tms-sidebar_grid__main-content{

} */
.tms-sidebar_grid__main-content--header{
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 15px 0px;
}
.tms-sidebar{
  border-top: 1px solid #ECECEC;
  background: #F1F2F6;
}
.tms-sidebar .card{
  max-width: 260px;

}
.body-light-text{
  color: #7C7C7C;
}
.tms-sidebar_grid__download-card{
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px;
    display: grid;
    grid-template-columns: 42px 1fr;
    justify-items: center;
    align-items: center;
    gap: 5px;
    max-width: 180px;
    width: 100%;
    height: 90px;
    /* background-color: #F1F2F6; */
    /* background-size:cover;
    background-repeat: no-repeat; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='68' viewBox='0 0 152 68' fill='none'%3E%3Cpath d='M39.2495 58.7859C40.4109 58.7844 41.5611 59.0118 42.6345 59.4552C43.7079 59.8986 44.6833 60.5492 45.505 61.3698C46.3267 62.1905 46.9786 63.165 47.4234 64.2378C47.8682 65.3106 48.0971 66.4605 48.0971 67.6218L141.937 67.6218C144.311 67.6208 146.588 66.677 148.266 64.9979C149.945 63.3189 150.888 61.0419 150.888 58.6679L150.888 9.93875C150.884 7.5673 149.939 5.29431 148.261 3.61852C146.583 1.94272 144.309 1.001 141.937 1L48.0971 0.999996C48.0971 3.34344 47.1662 5.5909 45.5091 7.24796C43.852 8.90503 41.6044 9.83595 39.2609 9.83595C36.9174 9.83595 34.6699 8.90503 33.0128 7.24796C31.3557 5.5909 30.4248 3.34344 30.4248 0.999995L9.95039 0.999994C8.77501 0.999994 7.61113 1.2315 6.52522 1.68128C5.43932 2.13107 4.45264 2.79034 3.62152 3.62144C2.79039 4.45254 2.1311 5.4392 1.6813 6.52508C1.23151 7.61096 1 8.77481 1 9.95016L0.999997 58.6793C1.00201 61.0497 1.94432 63.3225 3.62016 64.9991C5.29599 66.6756 7.56848 67.6188 9.93896 67.6218L30.4133 67.6218C30.4133 65.2784 31.3443 63.0309 33.0014 61.3739C34.6585 59.7168 36.906 58.7859 39.2495 58.7859Z' fill='%23F1F2F6' stroke='%23DADADA' stroke-width='0.757066'/%3E%3C/svg%3E"); */
}

.trip-details-card{
  border-radius: 4px;
border: 1px solid #DADADA;
background: #F1F2F6;
}

.trip-details-card__overlay{
  position: absolute;
  top: -10px;
  left: 30px;
  color: #fff;
  background: #000;
  padding: 0px 10px;
  border-radius: 6px
}
textarea{
  resize: none;
}
textarea.remarks{
  height: 150px;
}
.badge.pending{
  background: #FEF4E8;
  color: #F78D1E;
}


.unplanned-trips_tabs .tab {
  display: none;
}
.unplanned-trips_tabs .inputs-wrapper{
  border-radius: 23.58px;
border: 1.072px solid #ECECEC;
width: fit-content;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
padding: 10px;
}

.select-input{
  border-radius: 3.6px;
  border: 0.9px solid #2D2D2D;
  min-width: 200px;
  --bs-form-select-bg-img:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='11' viewBox='0 0 16 11' fill='none'%3E%3Cpath d='M0 0.77131C0 0.345331 0.358176 0 0.8 0H15.2C15.6418 0 16 0.345331 16 0.77131C16 1.19729 15.6418 1.54262 15.2 1.54262H0.8C0.358176 1.54262 0 1.19729 0 0.77131Z' fill='%23919191'/%3E%3Cpath d='M2.40039 5.39924C2.40039 4.97325 2.75857 4.62793 3.20039 4.62793H12.8004C13.2422 4.62793 13.6004 4.97325 13.6004 5.39924C13.6004 5.82523 13.2422 6.17055 12.8004 6.17055H3.20039C2.75857 6.17055 2.40039 5.82523 2.40039 5.39924Z' fill='%23919191'/%3E%3Cpath d='M5.5998 9.25586C5.15798 9.25586 4.7998 9.60117 4.7998 10.0272C4.7998 10.4532 5.15798 10.7985 5.5998 10.7985H10.3998C10.8416 10.7985 11.1998 10.4532 11.1998 10.0272C11.1998 9.60117 10.8416 9.25586 10.3998 9.25586H5.5998Z' fill='%23919191'/%3E%3C/svg%3E");

}
.select-input:focus{
  border-color: #F78D1E !important;
  border: 1px solid;
  box-shadow: none;
  --bs-form-select-bg-img:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='11' viewBox='0 0 16 11' fill='none'%3E%3Cpath d='M0 0.77131C0 0.345331 0.358176 0 0.8 0H15.2C15.6418 0 16 0.345331 16 0.77131C16 1.19729 15.6418 1.54262 15.2 1.54262H0.8C0.358176 1.54262 0 1.19729 0 0.77131Z' fill='%23F78D1E'/%3E%3Cpath d='M2.40039 5.39924C2.40039 4.97325 2.75857 4.62793 3.20039 4.62793H12.8004C13.2422 4.62793 13.6004 4.97325 13.6004 5.39924C13.6004 5.82523 13.2422 6.17055 12.8004 6.17055H3.20039C2.75857 6.17055 2.40039 5.82523 2.40039 5.39924Z' fill='%23F78D1E'/%3E%3Cpath d='M5.5998 9.25586C5.15798 9.25586 4.7998 9.60117 4.7998 10.0272C4.7998 10.4532 5.15798 10.7985 5.5998 10.7985H10.3998C10.8416 10.7985 11.1998 10.4532 11.1998 10.0272C11.1998 9.60117 10.8416 9.25586 10.3998 9.25586H5.5998Z' fill='%23F78D1E'/%3E%3C/svg%3E");
}

.nav-pills.custom-nav-pills .nav-link{
  color: #2D2D2D;
  border-radius: 4px;
  border: 1px solid #DADADA;
  background: #F1F2F6;
}
.nav-pills.custom-nav-pills .nav-link.active, .nav-pills.custom-nav-pills .show>.nav-link{
  border-radius: 4px;
border: 1px solid #DADADA;
background: #2D2D2D;
color: #F78D1E;


}
.add-new-advances__wrapper{
 max-width: 400px;
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.add-new-advances__wrapper input,.add-new-advances__wrapper select{
  height: 40px;
  border-radius: 4px;
border: 1.5px solid #ECECEC;
background: #FFF;
}
.add-new-advances__wrapper textarea{
  height: 100px;
  resize: none;
  width: 100%;
  border-radius: 4px;
  border: 1.5px solid #ECECEC;
  background: #FFF;
}
.add-new-advances__wrapper input:focus,.add-new-advances__wrapper select:focus,.add-new-advances__wrapper textarea:focus{
  box-shadow: none;
  border-color: #ECECEC;

}
.add-new-advances__wrapper  label{
  color: #6C6C6C;
  margin-bottom: 5px;
}
